$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$button-shadow: 0 0 7px 8px #ff00004d;
$button-hover-shadow: 0 0 7px 15px #ff00004d;

$header-height: 6rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$transition-0-6: all .6s ease;


$font-family: 'Montserrat', sans-serif;